@charset "utf-8";.bank-icon{display:inline-block;background:url(/images/bank-icon.png) no-repeat;}
.gongshangyinhang{width:164px;height:50px;background-position:0 0}
.nongyeyinhang{width:164px;height:50px;background-position:0 -50px}
.minshengyinhang{width:164px;height:50px;background-position:0 -100px}
.jiansheyinhang{width:164px;height:50px;background-position:0 -150px}
.zhaoshangyinhang{width:164px;height:50px;background-position:0 -200px}
.zhongguoyinhang{width:164px;height:50px;background-position:0 -250px}
.jiatongyinhang{width:164px;height:50px;background-position:0 -300px}
.youzhengyinhang{width:164px;height:50px;background-position:0 -350px}
.xingyeyinhang{width:164px;height:50px;background-position:0 -400px}
.huaxiayinhang{width:164px;height:50px;background-position:0 -450px}
.pufayinhang{width:164px;height:50px;background-position:0 -500px}
.guangzhouyinhang{width:164px;height:50px;background-position:0 -550px}
.beijingyinhang{width:164px;height:50px;background-position:0 -750px}
.pinganyinhang{width:164px;height:50px;background-position:0 -800px}
.hangzhouyinhang{width:164px;height:50px;background-position:0 -850px}
.wenzhouyinhang{width:164px;height:50px;background-position:0 -900px}
.dongyayinhang{width:164px;height:50px;background-position:0 -600px}
.guangzhounongshangyinhang{width:164px;height:50px;background-position:0 -650px}
.shandongnongshangyinhang{width:164px;height:50px;background-position:0 -700px}
.shanghainongshangyinhang{width:164px;height:50px;background-position:0 -950px}
.shanxiyaoduxinyongshe{width:164px;height:50px;background-position:0 -1000px}
.guangdayinhang{width:164px;height:50px;background-position:0 -1050px}
.zhongxinyinhang{width:164px;height:50px;background-position:0 -1100px}
.bohaiyinhang{width:164px;height:50px;background-position:0 -1150px}
.zheshangyinhang{width:164px;height:50px;background-position:0 -1200px}
.jinshangyinhang{width:164px;height:50px;background-position:0 -1250px}
.hankouyinhang{width:164px;height:50px;background-position:0 -1300px}
.zhejiangchouzhouyinhang{width:164px;height:50px;background-position:0 -1350px}
.shanghaiyinhang{width:164px;height:50px;background-position:0 -1400px}
.guangfayinhang{width:164px;height:50px;background-position:0 -1450px}
.dongguanyinhang{width:164px;height:50px;background-position:0 -1500px}
.ningboyinhang{width:164px;height:50px;background-position:0 -1550px}
.nanjingyinhang{width:164px;height:50px;background-position:0 -1600px}
.beijingnongshangyinhang{width:164px;height:50px;background-position:0 -1650px}
.chongqingyinhang{width:164px;height:50px;background-position:0 -1700px}
.guangxinongcunxinyongshe{width:164px;height:50px;background-position:0 -1750px}
.jiangsuyinhang{width:164px;height:50px;background-position:0 -1800px}
.jilinyinhang{width:164px;height:50px;background-position:0 -1850px}
.chengduyinhang{width:164px;height:50px;background-position:0 -1900px}
.tianjinyinhang{width:164px;height:50px;background-position:0 -1950px}
.jinchengyinhang{width:164px;height:50px;background-position:0 -2000px}
.handanyinhang{width:164px;height:50px;background-position:0 -2050px}
.zhengzhouyinhang{width:164px;height:50px;background-position:0 -2100px}
.jiujiangyinhang{width:164px;height:50px;background-position:0 -2150px}
.shengjingyinhang{width:164px;height:50px;background-position:0 -2200px}
.anhuinongcunxinyongshe{width:164px;height:50px;background-position:0 -2250px}
.gansuyinhang{width:164px;height:50px;background-position:0 -2300px}
.gansunongcunxinyongshe{width:164px;height:50px;background-position:0 -2350px}
.dongguannongcunshangyeyinhang{width:164px;height:50px;background-position:0 -2400px}
.guangzhounongshangyinhang{width:164px;height:50px;background-position:0 -2450px}
.guilinyinhang{width:164px;height:50px;background-position:0 -2500px}
.xianyinhang{width:164px;height:50px;background-position:0 -2550px}
.hunannongcunxinyongshe{width:164px;height:50px;background-position:0 -2600px}
