// $--color-primary: #ca151e;//ylcTteme
// $--color-danger: #F56C6C;//ylcTteme
$--color-primary: #3181ff;// bluetheme
$--color-danger: #3181ff; //bluetheme
$--color-success: #67C23A;
$--color-info: #909399;
$--color-warning: #E6A23C;
