<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./step1.css">
  <link rel="stylesheet" href="./iconfont/iconfont.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
</head>


<body>
  <div id="app">

    <div class="login-box" v-if="!isLogin">
      <el-input class="log-input" v-model="email" placeholder="email"></el-input>
      <el-input class="log-input" v-model="password" placeholder="password"></el-input>
      <el-button class="log-btn" type="primary" @click="login">login</el-button>
    </div>


    <div class="main-body" v-else>
      <div class="top-box">
        <div class="top-left">
          <el-dropdown @command="selectRoute">
            <el-button type="primary">
              {{currentRoute.name}}<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-for="(item,index) in routes" :key="index"
                :command="item">{{item.name}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <div class="vehicle">
            <el-dropdown class="ve-dropdwon" @command="selectVehicle">
              <el-button type="primary">
                {{currentVehicle.vehicle_name}}<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-for="(item,index) in vehicleList" :key="index"
                  :command="item">{{item.vehicle_name}}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>

        <el-button @click="saveRoute" class="save" type="primary">Save</el-button>
      </div>

      <div class="setting-box">
        <div class="top setting-item">
          <div class="top-left">
            Set
          </div>
          <div class="top-right">
            <legend>Target</legend>
            <div v-for="(item,index) in targetTypes" :key="index">
              <input type="radio" :id="item.label" :name="item.label" :value="index" v-model="targetType" />
              <label for="huey">{{item.label}}</label>
            </div>
          </div>
        </div>
        <div class="setting-pricing setting-item">
          <div class="setting-pricing-item">
            <div>
              <span>Cost :</span>
              <input v-model="currentRoute.cost" class="input" type="text">
            </div>
          </div>

          <div class="setting-pricing-item">
            <span>Profit :</span>
            <input v-model="currentRoute.profit" class="input" type="text">
          </div>

          <div class="setting-pricing-item">
            <span>Maximum</span>
            <input class="input" type="text">
            <span class="unit">/day</span>
          </div>

          <!-- <div>
            <span>Car time :</span>
            <div class="block">
              <el-date-picker v-model="date" type="datetimerange" range-separator="至" start-placeholder="开始日期"
                              end-placeholder="结束日期">

              </el-date-picker>
            </div>
          </div> -->
        </div>

      </div>

      <div v-if="false">
        <el-button @click="setCapacity" class="save" type="primary">setCapacity</el-button>

      </div>

      <div class="result-list">
        <div class="set-price-box">
          <span>Price:</span>
          <el-input class="current-price-input" v-model="setCurrentPrice" placeholder=""></el-input>
          <span class="currency">USD</span>
          <el-button @click="savePrice" class="save" type="primary">ok</el-button>
        </div>
        <div class="result-item" v-for="(item,index) in resultList " :key="index" v-if="false">
          <div class="item">
            <div class="item-top">
              <span class="price">35.65</span>
              <span>USD</span>
            </div>
            <div class="item-bottom">
              <span>33usd 5% (成本和最低利润)</span>
            </div>
          </div>
          <div class="item">
            <div class="item-top">
              <span class="mr_10">Ranking</span>
              <span @click="showRankingDetail">Detail</span>
            </div>

            <div class="item-bottom">
              <span>Elie</span>
              <span>2</span>
            </div>
          </div>
          <div class="item">
            <div class="item-top">
              <span class="price">50</span>
              <span>Conversion rate</span>
            </div>
            <div class="item-bottom">
              <span>Order quantity</span>
              <span>100</span>
              <span>Requesting</span>
              <span>50</span>
            </div>

          </div>

          <div class="item">
            <div class="item-top">
              2024/06/03 12:00:00
            </div>
            <div class="item-bottom" v-if="index == 0">
              <div class="set-price-box">
                <span>Price:</span>
                <el-input class="current-price-input" v-model="setCurrentPrice" type="Number" placeholder=""></el-input>
                <span class="currency">USD</span>
                <el-button @click="savePrice" class="save" type="primary">ok</el-button>
              </div>
            </div>
            <div class="item-bottom-confirm" v-else>
              <span>Objective 1 +1usd</span>
              <div class="icon i-close"></div>
              <div class="icon i-select"></div>
            </div>
          </div>
        </div>

        <div class="result-item iframe-box">
          <!-- <iframe class="iframe" src="https://elifelimo.com/" frameborder="0"></iframe> -->
        </div>
      </div>
    </div>



  </div>


  <script src="./iconfont/iconfont.js"></script>

  <script>
    new Vue({
      el: '#app',

      data: () => {
        return {
          stage: 'dev', //dev, prod
          setCurrentPrice: 0,
          email: 'ping@elifeteam.com',
          password: '6Pi785n03g',
          isLogin: true,
          targetType: 1,

          currentVehicle: {
            "vehicle_id": 1,
            "vehicle_name": "Sedan",
            "o_max_passenger": 3,
            "o_maker": "Toyota",
            "o_model": "Camry",
            "o_image_url": "https://elifelimo.s3.us-east-2.amazonaws.com/art/vehicle/sm/sedan.jpg",
            "o_image_url_2": "https://elifelimo.s3.us-east-2.amazonaws.com/art/home/vehicle-classes/sedan.png",
            "o_max_luggage": 3,
            "vm_id": null,
            "maker": null,
            "model": null,
            "max_passenger": null,
            "max_luggage": null,
            "image_url_1": null,
            "image_url_2": null,
            "maker_txt_id": null,
            "model_txt_id": null,
            "seq_front": 1
          },
          vehicleList: [
            {
              "vehicle_id": 1,
              "vehicle_name": "Sedan",
              "o_max_passenger": 3,
              "o_maker": "Toyota",
              "o_model": "Camry",
              "o_image_url": "https://elifelimo.s3.us-east-2.amazonaws.com/art/vehicle/sm/sedan.jpg",
              "o_image_url_2": "https://elifelimo.s3.us-east-2.amazonaws.com/art/home/vehicle-classes/sedan.png",
              "o_max_luggage": 3,
              "vm_id": null,
              "maker": null,
              "model": null,
              "max_passenger": null,
              "max_luggage": null,
              "image_url_1": null,
              "image_url_2": null,
              "maker_txt_id": null,
              "model_txt_id": null,
              "seq_front": 1
            },
            {
              "vehicle_id": 6,
              "vehicle_name": "MPV-4",
              "o_max_passenger": 4,
              "o_maker": "Toyota",
              "o_model": "Highlander",
              "o_image_url": "https://elifelimo.s3.us-east-2.amazonaws.com/art/vehicle/sm/mpv-4.jpg",
              "o_image_url_2": "https://elifelimo.s3.us-east-2.amazonaws.com/art/home/vehicle-classes/mpv4.png",
              "o_max_luggage": 4,
              "vm_id": null,
              "maker": null,
              "model": null,
              "max_passenger": null,
              "max_luggage": null,
              "image_url_1": null,
              "image_url_2": null,
              "maker_txt_id": null,
              "model_txt_id": null,
              "seq_front": 12
            },
            {
              "vehicle_id": 3,
              "vehicle_name": "MPV-5",
              "o_max_passenger": 5,
              "o_maker": "Toyota",
              "o_model": "Sienna",
              "o_image_url": "https://elifelimo.s3.us-east-2.amazonaws.com/art/vehicle/sm/mpv-5.jpg",
              "o_image_url_2": "https://elifelimo.s3.us-east-2.amazonaws.com/art/home/vehicle-classes/mpv5.png",
              "o_max_luggage": 5,
              "vm_id": null,
              "maker": null,
              "model": null,
              "max_passenger": null,
              "max_luggage": null,
              "image_url_1": null,
              "image_url_2": null,
              "maker_txt_id": null,
              "model_txt_id": null,
              "seq_front": 13
            }
          ],
          targetTypes: [
            {
              label: 'Increase Order Volume'
            },
            {
              label: 'Increase Order Volume'
            },
          ],
          resultList: [
            {
              price: 36.5,
              unit: 'USD',
            }

          ],
          date: [],
          value2: '',
          loginUrl: 'https://37u8cyb418.execute-api.us-east-2.amazonaws.com/upncoming/login-seses-employee',
          routes: [],
          currentRoute: {}
        }
      },

      created() {
        //DEV
        let ses = 'UEc1L5eErGh7DFkDh6wrQ46IVQt0d8QYQfquN6udTq7t0ETpcA7lmlXrUXJC2t66teluAqg47qpGznRfaVc6d4b9OHAJilwsE1e3wMYhvDdkfEgCJzYAaCe59gRYg8Sm'
        this.url = `https://jqwys3p5nk.execute-api.us-east-2.amazonaws.com/dev/sql-template/run?ses=${ses}`
        if (this.stage == 'prod') {
          ses = 'YM9zkRVEF7DYYr1JFhgAyKobXMYWYgnfuBRqEX8y5ePR7hykxUVrSdXVM9rrIWXB9IwfUBQFMVeS7bCHMTwXNy0UqpSR9DFXnayZVBCkgGmXn0fGFhtNT8g729VBq4CO'
          this.url = `https://ujrfp99zs9.execute-api.us-east-2.amazonaws.com/upncoming/sql-templates/run?ses=${ses}`
        }

        this.initData()
      },

      methods: {
        selectVehicle(item) {
          this.currentVehicle = item
        },
        selectRoute(item) {
          this.currentRoute = item
        },
        async initData() {
          let { results } = await this.fetchData({
            url: this.url,
            method: 'POST',
            data: {
              sql: 134678893,
              version: '1.0'
            }
          })
          for (let obj of results) {
            obj.json = JSON.parse(obj.json)
          }

          this.routes = results || []
          this.currentRoute = results[0]

          debugger
          console.log(results);
        },

        async setCapacity() {
          //           INSERT INTO ride.spp_service_area_capacity (service_area_id, capacity)
          // VALUES ({{service_area_id}}, {{capacity}});

          let data = {
            sql: 134678886,
            version: '1.0',
            service_area_id: 69,
            capacity: 90
          }

          let res = await this.fetchData({
            url,
            method: "POST",
            data
          })

          if (res) {
            this.setCurrentPrice = ''
            this.$message({
              message: 'success',
              type: 'success'
            });
          }


        },
        async savePrice() {
          let url = this.url


          let { id, service_area_id, json: { d_amt: field_d_amt, p_amt: field_p_amt } } = this.currentRoute

          let svcId = service_area_id
          if (this.stage == 'dev') {
            svcId = 26975
          }

          // route_id
          let {vehicle_id} = this.currentVehicle

          let promiseList = [
            this.fetchData({ // update table spp_price_adj 
              url,
              method: "POST",
              data: {
                sql: 134678885,
                version: '1.1',
                price: Number(this.setCurrentPrice),
                route_id: id,
                vehicle_id
              }
            }),

            this.fetchData({ //get pricing json_id by svc_id'
              url,
              method: 'POST',
              data: {
                sql: 134678773,
                version: '1.0',
                svc_id: svcId
              },
              desc: 'get pricing json_id'
            }),
          ]

          let [res1,res2] = await Promise.all(promiseList)

          let jsonId = res2.results[0].service_area_pricing_id

          debugger

          let json = await this.getPricingJsonById(jsonId)
          let { vehicleClasses, zones } = json
          console.log('----before---', JSON.parse(JSON.stringify(json)));
          let index = vehicleClasses.findIndex(item => item.vehicle_class_id == vehicle_id)
          if (index == -1) {
            this.$message({
              message: "cann't find vehicle",
              type: 'fail'
            });
            return
          }

          let percent_appendix = vehicleClasses[index].percent_appendix
          let arr = field_p_amt.split('.')
          let { p_amt, d_amt } = zones[arr[1]].prices[arr[3]]
          if (!percent_appendix) {
            vehicleClasses[index]['percent_appendix'] = [
              {
                "field": `${field_d_amt}`,
                "delta_amount": Number(this.setCurrentPrice) - d_amt || 0,
              },
              {
                "field": `${field_p_amt}`,
                "delta_amount": Number(this.setCurrentPrice) - p_amt || 0,
              },
            ]
          } else {
            for (let obj of percent_appendix) {
              let { field } = obj
              if (field == field_p_amt) {
                obj['delta_amount'] = Number(this.setCurrentPrice) - p_amt || 0
              }
              if (field == field_d_amt) {
                obj['delta_amount'] = Number(this.setCurrentPrice) - d_amt || 0
              }
            }
          }


          json['vehicleClasses'] = vehicleClasses
          console.log('--after---', json);
          // INSERT INTO ride.service_area_pricing (service_area_id, pricing, effective_at, expire_at,  login_id )
          // VALUES ({{service_area_id}},'{{pricing}}','2024-01-31 05:24:58', '2037-12-31 23:59:59',  8340 );
          // 8340

          let insertRes = await this.fetchData({
            url,
            method: 'POST',
            data: {
              sql: 134678887,
              version: '1.2',
              service_area_id: svcId,
              pricing:JSON.stringify(json),
              // note_id:1,
              login_id:this.stage == 'dev' ? 40 : 8340
            }
          })



          if (insertRes) {
            this.setCurrentPrice = ''
            this.$message({
              message: 'success',
              type: 'success'
            });
          }
        },
        async saveRoute() {


          let { id, from_place, to_place, cost, profit } = this.currentRoute
          let d = {
            sql: 134678884,
            version: '1.1',
            route_id: id,
            cost,
            profit
          }


          let res = await this.fetchData({
            url: this.url,
            method: 'POST',
            data: d
          })

          if (res) {
            this.$message({
              message: 'success',
              type: 'success'
            });


          }

        },
        async login() {
          console.log(this.email, this.password);
          let { ses } = await this.fetchData({
            url: this.loginUrl,
            method: 'POST',
            data: {
              email: this.email,
              password: this.password
            }
          })


          if (ses) {
            this.isLogin = true
          }


        },

        async getPricingJsonIdBySvcId(id) {
          // select id,service_area_pricing_id from fleet where id={{svc_id}}
          let d = {
            sql: 134678773,
            version: '1.0',
            svc_id: id
          }

          let res = await fetchData({
            url,
            method: 'POST',
            data: d,
            desc: 'get pricing json_id'
          })
          return res.results[0].service_area_pricing_id
        },


        async getPricingJsonById(pricing_id) {
          // select id ,pricing  from service_area_pricing where id={{pricing_id}}
          let d = {
            sql: 134678771,
            version: '1.0',
            pricing_id: pricing_id
          }

          let res_json = await this.fetchData({
            url: this.url,
            method: 'POST',
            data: d,
            desc: 'get pricing json by id'
          })
          let c_svcJson = JSON.parse(res_json.results[0].pricing)
          return c_svcJson
        },

        showRankingDetail() {
          console.log('ad');
        },

        fetchData({
          url = '',
          data = {},
          method = 'GET',
          // isShowLoading = true
        } = {}) {
          method = method.toUpperCase();
          data['req_id'] = this.uuid()
          if (method == 'GET') {
            let dataStr = '';
            Object.keys(data).forEach(key => {
              dataStr += key + '=' + data[key] + '&';
            })
            if (dataStr !== '') {
              dataStr = dataStr.substring(0, dataStr.lastIndexOf('&'));
              url = url + '?' + dataStr;
            }
          }
          let requestConfig = {
            // credentials: 'same-origin',
            method,
            headers: {
              'Accept': 'application/json',
              // 'Content-method': 'application/json'
            },
            // mode: "cors", // same-origin，no-cors（default） cores;
            // cache: "force-cache" // default 、 no-store 、 reload 、 no-cache 、 force-cache 、 only-if-cached 
          }

          if (method == 'POST') {
            Object.defineProperty(requestConfig, 'body', {
              value: JSON.stringify(data)
            })
          }
          return fetch(url, requestConfig).then(async (response) => {
            const data = await response.json()
            if (response.ok && response.status === 200) {
              return Promise.resolve(data)
            } else {
              let { errMsg } = data
              this.$message(errMsg);
              return Promise.reject(null)
            }
          })
            .catch((error) => {
              console.log(error);
            })
        },
        uuid() {
          function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
          }
          return S4() + S4() + '-' + S4() + '-' + S4() + '-' + S4() + '-' + S4() + S4() + S4();
        }


      }
    })
  </script>

</body>

</html>