.load-box{
			width: 750upx;
			line-height: 120upx;
			text-align: center;
			padding: 2upx 10upx;
			box-sizing: border-box;
			color: #779BA2;
			font-size: 20upx;
			letter-spacing: 5upx;
			margin-bottom: 100upx;
			font-style: italic;
		}
.loadhidden{
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
	overflow: hidden;
}
.bill-total{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 750upx;
	height: 120upx;
	padding: 20upx 0;
	box-sizing: border-box;
	background-color: #474748;
	font-size: 20upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.total-box-flex2{
		flex: 2;
	}
	.total-box-flex3{
		flex: 3;
	}
	.bill-total-box{
		.bill-total-box-title{
			color: #fff;
		}
		width: 250upx;
		height: 80upx;
		color: #EDCE3E;
		letter-spacing: 2upx;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
		.bill-total-box-text{
			text-align: center;
		}
	}
}
	.bill-time-selector{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 101;
		width: 750upx;
		height: 80upx;
		padding: 2upx 10upx;
		box-sizing: border-box;
		color: #444;
		border-bottom: 1upx solid #eee;
		background-color: #fff;
		font-size: 10upx;
		border-top: 1upx solid #eee;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.bill-time{
			border-right: 1upx solid #eee;
			padding: 0 12upx;
			display: flex;
			align-items: center;
			.bill-time-date{
				width: 185upx;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		.bill-btn{
			line-height: 60upx;
			padding: 0upx 25upx;
			border-radius: 14upx;
			border: 1upx solid #ddd;
			&:active{
				background-color: #ddd;
			}
		}
		.bill-search-icon{
			font-size: 48upx;
			color: #DC3639;
			font-weight: 600;
		}
	}
	
	/* #ifdef H5 */
	.top-top{
		top: 88upx;
	}  
	/* #endif */
	
	.new-date-time{
		
		margin-top: 200upx;
		
	}
	
	
	.content{
	        height: 504upx;
	        width: 750upx;
	        .mpvue-picker-view {
	            width: 750upx;
	            height: 504upx;
	            background-color: rgba(255, 255, 255, 1);
	            .item {
	              text-align: center;
	              width: 750upx;
	              line-height: 101upx;
	              text-overflow: ellipsis;
	              white-space: nowrap;
	              font-size: 35upx;
	            }
	        }
	    }
		
		.bill-detail{
			margin-top: 80upx;
			.bill-detail-box{
				width: 750upx;
				padding: 16upx 20upx;
				box-sizing: border-box;
				border-bottom: 2upx solid #ddd;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #fff;
				color: #444;
				font-size: 28upx;
				letter-spacing: 2upx;
				.bill-detail-box-item{
					display: flex;
					.box-item-name{
						line-height: 1;
						margin-right: 6upx;
						box-sizing: border-box;
						white-space: nowrap;
						overflow: hidden;
						display: flex;
						align-items: center;
						.box-item-name-text{
							line-height: 1;
							font-size: 24upx;
							// margin-left: 6upx;
							white-space: nowrap;
							overflow: hidden;
						}
					}
					.name-hidden{
						flex: 0;
						width: 0;
						height: 0;
						overflow: hidden;
						display: none;
					}
					.bill-detail-box-text{
						flex: 1;
						.bill-detail-box-font{
							line-height: 1;
							font-size: 24upx;
						}
						.balance-hidden{
							width: 0;
							height: 0;
							display: none;
						}
						.balance-font{
							line-height: 1;
							font-size: 24upx;
						}
					}
					.detail-indent{
						margin-left: 10upx;
					}
					.color_red{
						color: red;
					}
					.color_yellow{
						color: #E5AE35;
					}
					.color_green{
						color: #559C00;
					}
					.color_default{
						color: #333;
					}
				}
			}
		}
		
		.uni-list-cell {
		    justify-content: flex-start
		}
		
		/deep/ .uni-drawer{
			.uni-drawer__content{ 
				width: 520upx;
			} 
		
		}
		
		.bill-detail-card{
			position: relative;
			overflow: hidden;
			padding: 50upx 20upx;
			box-sizing: border-box;
			.bill-detail-card-checkbox{
				transform:scale(0.7);
			}
			.card-indent{
				font-size: 26upx;
				padding: 0;
				.bill-detail-card-text{
					margin-left: 2upx;
					vertical-align: middle;
					letter-spacing: 2upx;
				}
			}
			.card-indent-2{
				font-size: 20upx;
				width: 50%;
				padding: 0;
				white-space: nowrap;
				overflow: hidden;
				.bill-detail-card-text2{
					margin-left: 1upx;
					vertical-align: middle;
				}
			}
			.card-indent-3{
				font-size: 28upx;
				width: 375upx;
				padding: 0;
				.bill-detail-card-text3{
					margin-left: 2upx;
					vertical-align: middle;
					letter-spacing: 4upx;
				}
			}
			.bill-detail-card-top{
				padding-bottom: 20upx;
				border-bottom: 2upx solid #eee;
				display: flex;
				
				.bill-detail-card-top-box{
					flex: 1;
					display: flex;
					align-items: center;
				}
			
			}
			.bill-detail-card-box{
				overflow-y: auto;
				white-space:nowrap;
				height: 800upx;
				margin-bottom: 30upx;
				.bill-detail-card-item{
					margin-top: 22upx;
					padding-bottom: 22upx;
					border-bottom: 2upx solid #eee;
					// &:last-child{
					// 	border: none;
					// 	margin-bottom: 30upx;
					// }
					.bill-detail-card-box-h1{
						display: block;
						width: 100%;
						line-height: 1;
						margin-top: 26upx;
						font-size: 32upx;
						font-weight: 700;
						letter-spacing: 6upx;
						color: #444;
					}
					.bill-detail-card-box-checks{
						margin-top: 28upx;
						.bill-detail-checkbox-group{
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							.bill-detail-checkbox-label{
								margin: 6upx 0;
							}
						}
					}
				}
			}
			
			.bill-detail-card-confirm{
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 101;
				background-color: #fff;
				.confirm-btn{
					width: 80%;
					line-height: 60upx;
					border-radius: 16upx;
					border: 2upx solid #EFEFEF;
					margin: 16upx auto;
					text-align: center;
					font-size: 30upx;
					letter-spacing: 8upx;
					color: #333;
					&:active{
						background-color: #eee;
					}
				}
			}
		}

		
	
	