


.car_1{
    background: url('/images/resultIcon/c1.gif') center no-repeat;
    background-size: 60%;
}
.car_2{
    background: url('/images/resultIcon/c2.gif') center no-repeat;
    background-size: 60%;
}
.car_3{
    background: url('/images/resultIcon/c3.gif') center no-repeat;
    background-size: 60%;
}
.car_4{
    background: url('/images/resultIcon/c4.gif') center no-repeat;
    background-size: 60%;
}
.car_5{
    background: url('/images/resultIcon/c5.gif') center no-repeat;
    background-size: 60%;
}
.car_6{
    background: url('/images/resultIcon/c6.gif') center no-repeat;
    background-size: 60%;
}
.car_7{
    background: url('/images/resultIcon/c7.gif') center no-repeat;
    background-size: 60%;
}
.car_8{
    background: url('/images/resultIcon/c8.gif') center no-repeat;
    background-size: 60%;
}
.car_9{
    background: url('/images/resultIcon/c9.gif') center no-repeat;
    background-size: 60%;
}
.car_10{
    background: url('/images/resultIcon/c10.gif') center no-repeat;
    background-size: 60%;
}