
.notice-content{
	width: 750upx;
	box-sizing: border-box;
	padding: 20upx 15upx 0;
	.notice-content-item{
		width: 720upx;
		box-sizing: border-box;
		// border: 2upx solid #ddd;
		background-color: #fff;
		border-radius: 20upx;
		padding: 0 10upx 10upx;
		margin-bottom: 16upx;
		.content-item-time{
			font-size: 26upx;
			height: 50upx;
			line-height: 50upx;
			color: #999;
		}
		.content-item-title{
			width: 700upx;
			font-size: 32upx;
			height: 80upx;
			line-height: 80upx;
			color: #555;
		}
		.content-item-content{
			.item-content-text{
				width: 700upx;
				
				font-size: 28upx;
				line-height: 40upx;
				color: #666;
			}
			.item-content-img{
				width: 700upx;
				padding: 0 5upx;
				image{
					width: 690upx;
				}
			}
			.content-hidden{
				width: 0;
				height: 0;
				display: none;
			}
			
		}
	}
}