@font-face {
  font-family: "eicon"; /* Project id 3510933 */
  src: url('iconfont.woff2?t=1702621924261') format('woff2');
}

.icon {
  font-family: "eicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.symbol{
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
