.list1 {
    display: flex;
    padding: 5px;
  }
  .list1 .item {
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 8px;
    color: #585858;
  }
  .list1  .active {
    background-color: #cc0033;
    color: #fff;
  }