.dice-01{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice01.png) no-repeat  center ;
	background-size: contain;
}
.dice-02{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice02.png) no-repeat  center ;
	background-size: contain;
}
.dice-03{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice03.png) no-repeat  center ;
	background-size: contain;
}

.dice-04{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice04.png) no-repeat  center ;
	background-size: contain;
}

.dice-05{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice05.png) no-repeat  center ;
	background-size: contain;
}
.dice-06{
	width: 50rpx;
	height: 50rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice06.png) no-repeat  center ;
	background-size: contain;
}


