.dice-01{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice01.png) no-repeat  center ;
	background-size: contain;
}
.dice-02{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice02.png) no-repeat  center ;
	background-size: contain;
}
.dice-03{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice03.png) no-repeat  center ;
	background-size: contain;
}

.dice-04{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice04.png) no-repeat  center ;
	background-size: contain;
}

.dice-05{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice05.png) no-repeat  center ;
	background-size: contain;
}
.dice-06{
	width: 40rpx;
	height: 40rpx;
	border-radius: 15rpx;
	overflow: hidden;
	background: url(@/static/images/gameIcon/dice06.png) no-repeat  center ;
	background-size: contain;
}

.bg-0{
	background: url(@/static/images/gameIcon/0.png) no-repeat  center ;
	background-size: contain;
}
.bg-1{
	background: url(@/static/images/gameIcon/1.png) no-repeat  center ;
	background-size: 80rpx;
}
.bg-2{
	background: url(@/static/images/gameIcon/2.png) no-repeat  center ;
	background-size: contain;
}
.bg-3{
	background: url(@/static/images/gameIcon/3.png) no-repeat  center ;
	background-size: contain;
}
.bg-4{
	background: url(@/static/images/gameIcon/4.png) no-repeat  center ;
	background-size: contain;
}
.bg-5{
	background: url(@/static/images/gameIcon/5.png) no-repeat  center ;
	background-size: contain;
}
.bg-6{
	background: url(@/static/images/gameIcon/6.png) no-repeat  center ;
	background-size: contain;
}
.bg-7{
	background: url(@/static/images/gameIcon/7.png) no-repeat  center ;
	background-size: contain;
}
.bg-8{
	background: url(@/static/images/gameIcon/8.png) no-repeat  center ;
	background-size: contain;
}
.bg-9{
	background: url(@/static/images/gameIcon/9.png) no-repeat  center ;
	background-size: contain;
}
.bg-01{
	background: url(@/static/images/gameIcon/01.png) no-repeat  center ;
	background-size: contain;
}
.bg-11{
	background: url(@/static/images/gameIcon/11.png) no-repeat  center ;
	background-size: contain;
}
.bg-21{
	background: url(@/static/images/gameIcon/21.png) no-repeat  center ;
	background-size: contain;
}
.bg-31{
	background: url(@/static/images/gameIcon/31.png) no-repeat  center ;
	background-size: contain;
}
.bg-41{
	background: url(@/static/images/gameIcon/41.png) no-repeat  center ;
	background-size: contain;
}
.bg-51{
	background: url(@/static/images/gameIcon/51.png) no-repeat  center ;
	background-size: contain;
}
.bg-61{
	background: url(@/static/images/gameIcon/61.png) no-repeat  center ;
	background-size: contain;
}
.bg-71{
	background: url(@/static/images/gameIcon/71.png) no-repeat  center ;
	background-size: contain;
}
.bg-81{
	background: url(@/static/images/gameIcon/81.png) no-repeat  center ;
	background-size: contain;
}
.bg-91{
	background: url(@/static/images/gameIcon/91.png) no-repeat  center ;
	background-size: contain;
}
