* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  padding: 20px;
}

.addr-box {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.addr-box .item {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.addr-box .item input {
  width: 100%;
}

.addr-box .item .dropdown {
  width: 100%;
  top: 20px;
}

.addr-box .item #cal-from-date {
  width: 150px;
}

.addr-box .btn-box .btn {
  border: 1px solid #ccc;
  padding: 3px 8px;
  cursor: pointer;
}

.addr-box .btn-box .calculator {
  background-color: #fe7a1f;
  color: #fff;
}

.addr-box .btn-box .calculator.gray {
  background-color: #ccc;
}

.res-box {
  border: 1px solid #ccc;
  height: 500px;
  padding: 5px;
}

.res-box .item {
  display: flex;
  flex-direction: column;
}

.res-box .item .detail-box {
  display: flex;
  flex-direction: column;
}

.res-box .item .detail-box .item-price {
  display: flex;
}

.res-box .item .detail-box .warn {
  color: red;
}

.hide {
  display: none;
}

.calendar {
  width: 268px;
  border-radius: 4px;
  border: 1px solid #e5e6eb;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px !important;
  z-index: 10 !important;
}

.calendar #date-calendar- table {
  border-collapse: collapse;
  width: 268px !important;
}

.calendar #date-calendar- table tr {
  line-height: normal !important;
  height: 24px !important;
}

.calendar #date-calendar- table tr .date-cell {
  height: 24px !important;
  border-radius: 50%;
  line-height: 32px;
  cursor: pointer;
}

.calendar #date-calendar- table tr .date-cell:hover {
  border: none;
}

.calendar #date-calendar- table tr .active {
  position: relative;
}

.calendar #date-calendar- table tr .active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f2f3f5;
}

.calendar #date-calendar- table tr .today {
  position: relative;
}

.calendar #date-calendar- table tr .today::before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fe7a1f;
}

.calendar #date-calendar- table .date-week {
  border-top: 14px solid transparent;
}

.calendar #date-calendar- table .date-week td {
  width: 32px !important;
  height: 32px;
}

.calendar #date-calendar- .calendar-header {
  height: 40px !important;
  border-bottom: 1px solid #e5e6eb;
}

.calendar #date-calendar- .calendar-header .text-center,
.calendar #date-calendar- .calendar-header .prev,
.calendar #date-calendar- .calendar-header .next {
  text-align: center;
}

.calendar #date-calendar- .calendar-header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e5e6eb;
}

.hide {
  display: none !important;
}
